/* @media(min-width:468px){
  .main{
    display: flex;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  min-height: 200vh;
}

h3 {
  color: black;
  padding: 10px;
  margin-left: 5%;
}

h1 {
  color: white;
}
@media (max-width: 600px) {
  /* apply styles for devices with a maximum width of 600px or smaller */
}

@media (min-width: 601px) and (max-width: 900px) {
  /* apply styles for devices with a width between 601px and 900px */
}

@media (min-width: 901px) {
  /* apply styles for devices with a minimum width of 901px */
}
