


.content {
  position: static;
  width: 98.9vw;
  height: 120vh;
  display: flex;
  align-items: center;
  background-image: url('/images/grilled-chicken-rice-spicy-chickpeas-avocado-cabbage-pepper-buddha-bowl-dark-top-view_127032-1966.jpg');
  background-size: cover;
  z-index: 1;
  margin-top: 25px;
}

#info {
  color: white;
  position: absolute;
  font-size: 354.5%;
  white-space: nowrap;
  margin-left: 5%;


}

#btn {
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 40px;
  background: white;
  color: #2b1055;
  display: inline-block;
  font-size: 1.5em;
  transform: translateY(75px);
  margin-left: 9%;
  
}
#btn:hover{
  opacity: .5;
}


.seat-booking {
  background-image: url('/images/black-food-cooking-background-stone-texture-with-sea-salt-pepper-garlic-parsley-abstract-food-background-empty-space-text-can-be-used-food-posters-design-menu-top-view_253362-16140.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  padding-top: 3rem;
  height: 80vh;
 

}
h1{
  margin-left: 90px;
  /* text-align: center; */
}
form{
  margin-left: 90px;
  margin-bottom: 50px;
  width:90.9vw;
  height: 60vh;
 
}
label{
  color: white;
  margin-left: 10px;
}
#name,#email,#phone,#date{
  height: 35px;
  margin: 10px;
  padding: 5px;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid white;
  color: white;
}
#name,#email,#phone,#date :hover{
cursor: pointer;
}
::placeholder{
  color: white;
}
#date{
  color: white;
  margin: 10px;
}
#date,#time,#seats:hover{
  cursor: pointer;
}
#reserve{
  margin-left: 15px;
  height: 45px;
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: white;
  cursor: pointer;
  border: none;
}
#reserve:hover{
  opacity: .5;
}
